{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col">
            <a class="btn btn-success" href="{% url 'device-create' %}">Add</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% if devices.exists %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Device SN</th>
                    <th>Device VC</th>
                    <th>Device AC</th>
                    <th>Device VKEY</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for dvc in devices %}
                <tr>
                    <td>{{ dvc.device_name }}</td>
                    <td>{{ dvc.sn | truncatechars:5 }}</td>
                    <td>{{ dvc.vc | truncatechars:5 }}</td>
                    <td>{{ dvc.ac | truncatechars:5 }}</td>
                    <td>{{ dvc.vkey | truncatechars:5 }}</td>
                    <td>
                        <a class="btn btn-sm btn-danger py-0" href="{% url 'device=delete' dvc.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Device Empty</p>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}