{% extends 'layout/base.html' %}
{% load static %}
{% load template %}
{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <a href="{% url 'user-create' %}" class="btn btn-success">Add</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                {% if users.exists %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Template</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td class="text-danger" id="template"></td>
                        <td width="180">
                            <a href="{% url 'user-delete' user.id %}" class="btn btn-sm btn-danger py-0">Delete</a>
                            {% template user.id %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>User Empty</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}